<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<body>
  hello
  <input type="button" id="C4" value="C4"></input>
  <input type="button" id="D4" value="D4"></input>
  <input type="button" id="E4" value="E4"></input>
  <input type="button" id="F4" value="F4"></input>
  <input type="button" id="G4" value="G4"></input>
  <input type="button" id="A4" value="A4"></input>
  <input type="button" id="B4" value="B4"></input>
</body>
<script
    src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="public/script.js"></script>
</html>
