body {
  background: #00ECB9;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  margin-top: 5%;
  background-color: #00816A;
  color: #fff;
  border-radius: 99px;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5vh;
  border: none;
}

a {
  color: #00B7FF;
}

br {
	height: 5px;
}


.main-container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: row;
}


.title-container {
	max-width: 50%;
	margin: 0 auto;
}

.title-main {
	text-align: center;
	
}

@media only screen and (max-width: 500px) {
    .main-container {
		display: flex;
  		align-items: center;
  		justify-content: center;
  		flex-direction: column;
	}

	input {
	  margin-top: 5%;
	  background-color: #00816A;
	  color: #fff;
	  border-radius: 99px;
	  font-family: sans-serif;
	  font-size: 20px;
	  padding: 4vh;
	  border: none;
	}
}
